.admin-bar {
    margin-top: -32px;

    .wp-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        &__icon {
            background: #23282d;
            padding: 0.6rem;
            display: block;
            font: normal 20px/1 dashicons;

            &::before {
                content: '\f120';
                top: 0;
                left: 0;
                color: rgba(240, 245, 250, 0.6);
            }
        }

        &:hover {
            ~ #wpadminbar {
                transform: translateY(0);
                transition: all 0.2s 0s ease-in-out;
            }
        }
    }

    #wpadminbar {
        transform: translateY(-100%);
        transition: all 0.2s 1s ease-in-out;

        &:hover {
            transform: translateY(0);
            transition: all 0.2s 0s ease-in-out;
        }
    }
}
