// ----------------------------------------------------------------------------
// This file contains very basic styles.
// ----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 0.625rem;

  @media screen and (min-width: $small) and (max-width: 1919px) {
    font-size: calc(0.3rem + 0.28vw);
  }

  @media screen and (max-width: $small) {
    font-size: calc(0.3rem + 1vw);
  }
}

.max--width {
  max-width: $max-width;
  margin: 0 auto;
}

.max--width--smaller {
  max-width: $max-width-smaller;
  margin: 0 auto;

  @include medium {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

.overflow--disable {
  overflow: hidden;
}

.desktop--only {
  @include medium {
    display: none;
  }
}

.touch--only {
  display: none;

  @include medium {
    display: block;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.page--shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  z-index: 7;
  pointer-events: none;

  &.visible {
    pointer-events: all;
    opacity: 0.5;
  }
}
