// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Roboto";
  @import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-awesome";
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
  font-weight: normal;
  font-style: normal;
}
